body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#characterCards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

#characterCards div {
  max-width: 225px;
}

div img {
  max-width: 100%;
}

header div {
  margin: 1.5vh 0 5vh;
}

h1, p {
  margin: 0;
  padding: 0;
}

#gameTracker {
  display: flex;
  justify-content: space-between;
  background-color: #e43d33;
  border: 1px solid black;
}

#gameTracker div{
  padding: 0 2vw;
  height: 100%;
  margin: auto;
}

#gameTracker div p {
  padding: 3vh 0;
}

.resultAlert {
  font-weight: bold;
  padding: 2vh;
  text-align: center;
  font-size: 1.5rem;
  margin: 2vh 0;
}

@media screen and (min-width: 511px) {
  header p, header h1 {
    color: white;
    text-shadow: 5px 10px 20px black;
    padding: 0 2vw;
  }
  header div {
    margin: 0 0 2vh;
  }
  #characterCards {
    padding: 1rem;
    grid-gap: 2vw 2vw;
  }
}